<header id="app-header">
    <h1>Ads - {{headerTitle}}</h1>
</header>
<div class="row">
    <div class="col-md-2">
        <leftsidebarlogin></leftsidebarlogin>
    </div>
    <div class="col-md-7">
        <div style="width:450px;">
            <div class="box">
                <div class="page-header">
                    <h3>Login</h3>
                </div>
                <form role="form">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" class="form-control" id="username" placeholder="Username" ng-model="user.username" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
                            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password" required>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group" style="text-align:center">
                        <button type="submit" class="button" ng-click="login(user)"><span class="glyphicon glyphicon-lock"></span> Login</button>
                        <a href="#/register" style="text-decoration: none; border-bottom: blue 1px dotted;">Register here</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


