<div>
    <div class="box">
        <h1>Navigation</h1>
        <ul class="sidebar-menu">
            <li class="selected"><a href="#/">Home</a></li>
        </ul>

    </div>
    <div class="box">
        <h2>To publish a new ad, please login.</h2>
        <ul class="sidebar-menu">
            <!--<li><a href="#/login">Login</a></li>
            <li><a href="#/register">Register</a></li>-->
            <li><a class="button" href="#/login">Login</a></li>
            <li><a class="button" href="#/register">Register</a></li>
        </ul>
    </div>
</div>