<div>
    <div class="box" ng-if="authService.isAnonymous()">
        <h1>Navigation</h1>
        <hr />
        <ul class="sidebar-menu">
            <li class="selected"><a href="#/">Home</a></li>
        </ul>
    </div>
    <div class="box" ng-if="authService.isAnonymous()">
        <h2>To publish a new ad, please login.</h2>
        <ul class="sidebar-menu">
            <li><a class="button" href="#/login">Login</a></li>
            <li><a class="button" href="#/register">Register</a></li>
        </ul>
    </div>

    <div ng-if="authService.isNormalUser()" class="box">
        <h1>Navigation</h1>
        <hr />
        <ul class="sidebar-menu">
            <li><a href="#/">Home</a></li>
            <li><a href="#/user/ads">My Ads</a></li>
            <li><a href="#/user/ads/publish">Publish New Ad</a></li>
            <li><a href="#/user/profile">Edit Profile</a></li>
        </ul>
    </div>
</div>